
#list-of-diseases, #main-panel {
  display: inline-block;
}

#main-panel {
  vertical-align: top;
  width: 80%;
}

#list-of-diseases {
  overflow-y: auto;
  /*height: 525px;*/
}

#list-of-diseases text {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.d3-tooltip {            
  text-align: center;           
  width: 300px;                  
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;                
}

.selected_gene {
  stroke: #333333;
}

.graph-chart-edge {
    stroke: #666666;
    stroke-width: 2px;
 }

.disease, .gene {
  fill-opacity: 0.4;
  stroke-width: 3;
}

.disease {
    /*fill: #ff0000;*/
    stroke: #ff0000;
}

.gene {
    /*fill: #00ff00;*/
    stroke: #12A563;
}
